* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat";
  background-color: #0e0e0e;
}

.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.containerMain {
  height: auto;
  width: 100vw;
  padding-bottom: 0.5%;
  background-image: url(./assets/background.png);
}

.header {
  width: 90vw;
  height: 3.125rem;
  margin: 4.5% auto 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  width: 24%;
  height: auto;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.063rem;
  margin-right: 1%;
}

.header h1 span:nth-of-type(1) {
  color: #ffffff;
}

.header h1 span:nth-of-type(1):hover {
  color: #ff5b50;
  transition: 0.8s;
}

.header h1 span:nth-of-type(2) {
  color: #ff5b50;
}

.header h1 span:nth-of-type(2):hover {
  color: #ffffff;
  transition: 0.8s;
}

.header .nav {
  width: 36%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header .nav a {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 0.125rem solid transparent;
  margin-right: 5%;
}

.header .nav a:hover {
  border-bottom: 0.125rem solid #ff5b50;
  transition: 0.8s;
}

.header button {
  width: 20%;
  height: auto;
  background-color: #ffffff;
  padding: 0.4%;
  border: 0.188rem solid transparent;
}

.header button:hover {
  border: 0.188rem solid #ff5b50;
  transition: 0.8s;
}

.header button .agroupImgAndTextHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.header button .agroupImgAndTextHeader img {
  width: auto;
  height: auto;
}

.header button .agroupImgAndTextHeader p {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #000000;
}

.main1 {
  width: 90vw;
  height: auto;
  margin: 0 auto 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.aboutCompany {
  width: 34%;
  margin-right: 3.5%;
}

.main1 .aboutCompany .aboutCompanyText {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #ffffff;
  width: 100%;
  height: auto;
  margin-bottom: 14%;
}

.main1 .imagesArtistCompany {
  width: 100%;
  height: auto;
  filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
  display: flex;
}

.main1 .imagesArtistCompany img {
  margin-right: 6%;
  width: 35%;
}

.selectionedArtists {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
}

.main1 .imagesArtistCompany .selectionedArtists .moreTen {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #ffffff;
}

.main1 .imagesArtistCompany .selectionedArtists p {
  font-family: "Montserrat";
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #ffffff;
  width: 100%;
}

.discoverMore {
  width: 43%;
  height: auto;
  margin-right: 2%;
}

.discoverMore h1 {
  width: 100%;
  height: auto;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2.625rem;
  line-height: 3.813rem;
  color: #ffffff;
}

.discoverMore h1 span {
  color: #ff5b50;
}

.logoMain {
  width: 17%;
  height: auto;
}

.logoMain img {
  width: 100%;
  height: auto;
}

.gallery {
  width: 90vw;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.gallery .gallery1 img,
.gallery .gallery2 img {
  height: auto;
  width: 23%;
  margin-left: 1%;
  border: 0.063rem solid #ffffff;
}

.gallery .gallery1 img:hover,
.gallery .gallery2 img:hover {
  border: 0.063rem solid #ff5b50;
  transition: 0.8s;
}

.gallery1 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5%;
  column-gap: 0.4%;
}

.gallery2 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.4%;
}

.main2 {
  width: 100vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.seelingsQuantity {
  border-right: 0.063rem solid #5a5757;
  border-bottom: 0.063rem solid #5a5757;
  width: 26%;
  height: fit-content;
}

.values {
  width: 33%;
  height: auto;
  margin: 34% auto 32.4%;
}

.values h3 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 3.125rem;
  line-height: 3.813rem;
  color: #ffffff;
}

.values p {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #5a5757;
  margin-bottom: 25%;
}

.agroupMoreInformations {
  width: 74%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}

.moreInformations {
  width: 41%;
  height: fit-content;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #ffffff;
}

.moreInformations:nth-of-type(1) {
  margin: 8.5% 3% 0 7.2%;
}

.moreInformations:nth-of-type(2) {
  margin: 8.5% 3% 0 0;
}

.moreInformations p a:nth-of-type(1) {
  color: #ff5b50;
}

.moreInformations p {
  margin-bottom: 10%;
}

.moreInformations > a {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #ffffff;
}

.imageSeelings {
  width: 100%;
  height: auto;
  margin-top: 4%;
}

.imageSeelings img {
  width: 98%;
  height: 98.5%;
  border-bottom: 0.063rem solid #5a5757;
}

.main3 {
  width: 90vw;
  height: auto;
  margin: 0 auto;
  margin-bottom: 10%;
}

.main3 h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 3.813rem;
  color: #ffffff;
  margin: 14% 5% 14.3% 8%;
  width: 100%;
}

.main3 h2 span {
  color: #ff5b50;
}

.astronauts {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.astronauts .centerLine {
  position: absolute;
  left: 50%;
}

.astronaut {
  width: 32.7%;
  height: auto;
  margin-bottom: 4.4%;
  margin-left: 1%;
}

.astronaut .agroupAstronautTextAndImage {
  width: 96%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10%;
}

.astronaut .agroupAstronautTextAndImage p {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 2.313rem;
  color: #ffffff;
}

.astronaut .agroupAstronautTextAndImage img {
  width: 7%;
  height: auto;
}

.astronaut .agroupNameAstronauAndValue {
  width: 92%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5%;
}

.astronaut .agroupNameAstronauAndValue p:nth-of-type(1) {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #5a5757;
}

.astronaut .agroupNameAstronauAndValue p:nth-of-type(2) {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #ff5b50;
}

.astronaut img {
  width: 92%;
  height: auto;
}

.main4 {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main4 h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 3.813rem;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 5%;
}

.main4 h2 span {
  color: #ff5b50;
}

.bestArtists {
  width: 100%;
  height: auto;
  margin: 0 auto;
  gap: 9.5%;
  display: flex;
  flex-wrap: wrap;
}

.artist {
  background-color: #252525;
  width: 26%;
  height: 9.375rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 9.5%;
  border-radius: 0.313rem;
  border: 0.125rem solid transparent;
}

.artist:hover {
  border: 0.125rem solid #ff5b50;
  transition: 0.8s;
}

.imageArtist {
  width: 34%;
  margin: 5%;
}

.artist img {
  width: 85%;
  height: auto;
}

.photographs p:nth-of-type(1) {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #ffffff;
  margin-bottom: 6%;
}

.photographs p:nth-of-type(2) {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #ff5b50;
}

.agroupSeeAllArtist {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.agroupSeeAllArtist a {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 5%;
}

.agroupSeeAllArtist a p {
  margin-right: 1%;
  border-bottom: 0.125rem solid transparent;
}

.agroupSeeAllArtist a p:hover {
  border-bottom: 0.125rem solid #ffffff;
  transition: 0.8s;
}

.footer {
  background-color: #252525;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer .rocketNFTs {
  width: 100%;
  height: auto;
  margin: 5% auto 0;
  border-bottom: 0.063rem solid #5a5757;
}

.footer .rocketNFTs .agroupRocketNFTs {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 4.5%;
}

.footer .rocketNFTs .agroupRocketNFTs h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.063rem;
  color: #ffffff;
}

.footer .rocketNFTs .agroupRocketNFTs h3 span {
  color: #ff5b50;
}

.footer .rocketNFTs .agroupRocketNFTs .borderFooter {
  width: 7%;
  height: 5rem;
  background-color: #ff5b50;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .formAndNav {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: auto;
}

.footer .news {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 0 40%;
  border-top: 0.063rem solid #5a5757;
  border-right: 0.063rem solid #5a5757;
  border-bottom: 0.063rem solid #5a5757;
}

.footer .news h3 {
  width: 62%;
  height: auto;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 2.313rem;
  color: #ffffff;
  margin: 8% 4% 5% 13%;
}

.footer .news h3 span {
  color: #ff5b50;
}

.footer .news .agroupFormAndButton {
  width: 100%;
  height: auto;
  margin: 0 0 5% 13%;
}

.footer .news .agroupFormAndButton form input {
  width: 49%;
  height: 2.5rem;
  background-color: #0d0d0d;
  padding-left: 4%;
  outline: none;
  border: 0.125rem solid transparent;
}

.footer .news .agroupFormAndButton form input:hover {
  border: 0.125rem solid #ffffff;
  transition: 0.8s;
}

.footer .news .agroupFormAndButton form input:focus {
  border: 0.125rem solid #ff5b50;
  transition: 0.8s;
}

.footer .news .agroupFormAndButton form input:-ms-input-placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5rem;
  color: #5a5757;
}

.footer .news .agroupFormAndButton form button {
  width: 20%;
  height: 2.5rem;
  background-color: #ffffff;
  margin-left: -1.1%;
  margin-top: 0.7%;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1em;
  line-height: 1.5rem;
  color: #000000;
  border: 0.125rem solid transparent;
}

.footer .news .agroupFormAndButton form button:hover {
  border: 0.125rem solid #ff5b50;
  transition: 0.8s;
}

.footer .navMapLinks {
  display: flex;
  flex-wrap: wrap;
  flex: 2 0 60%;
  border-top: 0.063rem solid #5a5757;
  border-left: 0.063rem solid #5a5757;
  border-bottom: 0.063rem solid #5a5757;
}

.footer .navMapLinks .company {
  display: flex;
  flex-direction: column;
  width: 13%;
  height: auto;
  row-gap: 5%;
  margin: 5% 12% 5% 18%;
}

.footer .navMapLinks .map {
  display: flex;
  flex-direction: column;
  width: 13%;
  height: auto;
  row-gap: 5%;
  margin: 5% 12% 5% 0;
}

.footer .navMapLinks .links {
  display: flex;
  flex-direction: column;
  width: 13%;
  height: auto;
  row-gap: 5%;
  margin: 5% 7% 5% 0;
}

.footer .navMapLinks .company p,
.footer .navMapLinks .map p,
.footer .navMapLinks .links p {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #ffffff;
}

.footer .navMapLinks .company a,
.footer .navMapLinks .map a,
.footer .navMapLinks .links a {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #5a5757;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.footer .navMapLinks .company a:hover,
.footer .navMapLinks .map a:hover,
.footer .navMapLinks .links a:hover {
  border-bottom: 2px solid #ffffff;
  transition: 0.8s;
}

.socialMediasContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: auto;
  border-bottom: 0.063rem solid #5a5757;
}

.agroupSiteAndSocialMedias {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: auto;
  margin: 3% auto 2%;
  justify-content: space-between;
  align-items: center;
}

.agroupSiteAndSocialMedias p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #5a5757;
}

.socialMedias {
  width: 26%;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.credits {
  margin: 5% auto 5%;
}

.credits h4 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #ffffff;
}

@media (max-width: 1208px) {
  .header h1 {
    width: 30%;
  }

  .imageSeelings img {
    height: 91.8%;
  }

  .imageArtist {
    width: 29%;
  }
}

@media (max-width: 1111px) {
  .header h1 {
    width: 31%;
  }

  .discoverMore h1 {
    font-size: 2.425rem;
  }

  .imageSeelings img {
    height: 95.6%;
  }

  .artist {
    width: 45%;
  }

  .imageArtist {
    width: 29%;
  }

  .photographs p:nth-of-type(1) {
    font-size: 1.75rem;
    margin-bottom: 10%;
  }

  .photographs p:nth-of-type(2) {
    font-size: 1.45rem;
  }

  .astronaut .agroupNameAstronauAndValue p:nth-of-type(1) {
    margin-right: 3%;
  }

  .astronauts .centerLine {
    height: 93%;
  }
}

@media (max-width: 935px) {
  .header h1 {
    width: 32%;
    font-size: 2rem;
  }

  .discoverMore h1 {
    font-size: 2.425rem;
  }

  .imageSeelings img {
    height: 91.6%;
  }

  .artist {
    width: 45%;
  }

  .imageArtist {
    width: 25%;
  }

  .photographs p:nth-of-type(1) {
    font-size: 1.75rem;
    margin-bottom: 10%;
  }

  .photographs p:nth-of-type(2) {
    font-size: 1.45rem;
  }

  .astronaut .agroupNameAstronauAndValue p:nth-of-type(1) {
    margin-right: 3%;
  }

  .astronauts .centerLine {
    height: 93%;
  }
}

@media (max-width: 829px) {
  .header h1 {
    width: 32%;
    font-size: 2rem;
  }

  .discoverMore h1 {
    font-size: 2.025rem;
  }

  .main1 .imagesArtistCompany {
    width: 90%;
  }

  .values {
    width: 45%;
  }

  .values h3 {
    font-size: 2.725rem;
  }

  .moreInformations {
    font-size: 1.025rem;
  }

  .imageSeelings img {
    height: 105.6%;
  }

  .artist {
    width: 45%;
  }

  .imageArtist {
    width: 25%;
  }

  .photographs p:nth-of-type(1) {
    font-size: 1.55rem;
    margin-bottom: 10%;
  }

  .photographs p:nth-of-type(2) {
    font-size: 1.35rem;
  }

  .astronaut .agroupNameAstronauAndValue p:nth-of-type(1) {
    margin-right: 3%;
  }

  .astronauts .centerLine {
    height: 93%;
  }
}

@media (max-width: 740px) {
  .main1 {
    margin-bottom: 8%;
  }
  .header h1 {
    width: 26%;
    font-size: 1.5rem;
  }

  .header .nav {
    width: 49%;
  }

  .main1 .imagesArtistCompany {
    width: 90%;
  }

  .logoMain {
    display: none;
  }

  .aboutCompany {
    width: 40%;
    margin-right: 7%;
  }

  .discoverMore {
    width: 50%;
  }

  .discoverMore h1 {
    font-size: 2rem;
  }

  .gallery .gallery1,
  .gallery .gallery2 {
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
  }

  .gallery .gallery1 img,
  .gallery .gallery2 img {
    width: 40%;
    margin-left: 0;
    margin-bottom: 1%;
  }

  .values {
    width: 38%;
  }

  .values h3 {
    font-size: 2.225rem;
  }

  .values p {
    font-size: 1rem;
  }

  .moreInformations {
    font-size: 0.9rem;
  }

  .imageSeelings img {
    height: 105.6%;
  }

  .main3 h2 {
    font-size: 2.7rem;
  }

  .astronaut .agroupAstronautTextAndImage {
    width: 100%;
  }

  .astronaut .agroupAstronautTextAndImage p {
    font-size: 1.5rem;
  }

  .astronaut .agroupNameAstronauAndValue {
    width: 100%;
  }

  .astronaut .agroupNameAstronauAndValue p:nth-of-type(1) {
    margin-right: 3%;
    font-size: 1.1rem;
  }

  .astronaut .agroupNameAstronauAndValue p:nth-of-type(2) {
    font-size: 1.1rem;
  }

  .astronauts .centerLine {
    height: 93%;
  }

  .main4 h2 {
    font-size: 2.5rem;
  }

  .artist {
    width: 45%;
  }

  .imageArtist {
    width: 23%;
  }

  .photographs p:nth-of-type(1) {
    font-size: 1.3rem;
    margin-bottom: 10%;
  }

  .photographs p:nth-of-type(2) {
    font-size: 1.2rem;
  }

  .footer .news h3 {
    width: 82%;
    font-size: 1.7rem;
  }

  .footer .news .agroupFormAndButton form input {
    width: 53%;
  }

  .footer .news .agroupFormAndButton form button {
    font-size: 0.9rem;
    width: 22%;
  }

  .footer .navMapLinks .company {
    margin-left: 15%;
  }

  .footer .navMapLinks .company p,
  .footer .navMapLinks .map p,
  .footer .navMapLinks .links p {
    font-size: 1.1rem;
  }

  .footer .navMapLinks .company a,
  .footer .navMapLinks .map a,
  .footer .navMapLinks .links a {
    font-size: 1.1rem;
  }
}

@media (max-width: 670px) {
  .main1 {
    margin-bottom: 8%;
  }
  .header h1 {
    width: 26%;
    font-size: 1.2rem;
  }

  .header .nav {
    width: 49%;
  }

  .main1 .imagesArtistCompany {
    width: 90%;
  }

  .logoMain {
    display: none;
  }

  .aboutCompany {
    width: 40%;
    margin-right: 7%;
  }

  .discoverMore {
    width: 50%;
  }

  .discoverMore h1 {
    font-size: 2rem;
  }

  .gallery .gallery1,
  .gallery .gallery2 {
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
  }

  .gallery .gallery1 img,
  .gallery .gallery2 img {
    width: 40%;
    margin-left: 0;
    margin-bottom: 1%;
  }

  .values {
    width: 38%;
  }

  .values h3 {
    font-size: 2.225rem;
  }

  .values p {
    font-size: 1rem;
  }

  .moreInformations {
    font-size: 0.9rem;
  }

  .imageSeelings img {
    height: 105.6%;
  }

  .main3 h2 {
    font-size: 2.7rem;
  }

  .astronaut .agroupAstronautTextAndImage {
    width: 100%;
  }

  .astronaut .agroupAstronautTextAndImage p {
    font-size: 1.5rem;
  }

  .astronaut .agroupNameAstronauAndValue {
    width: 100%;
  }

  .astronaut .agroupNameAstronauAndValue p:nth-of-type(1) {
    margin-right: 3%;
    font-size: 1.1rem;
  }

  .astronaut .agroupNameAstronauAndValue p:nth-of-type(2) {
    font-size: 1.1rem;
  }

  .astronauts .centerLine {
    height: 93%;
  }

  .main4 h2 {
    font-size: 2.5rem;
  }

  .artist {
    width: 45%;
  }

  .imageArtist {
    width: 23%;
  }

  .photographs p:nth-of-type(1) {
    font-size: 1.3rem;
    margin-bottom: 10%;
  }

  .photographs p:nth-of-type(2) {
    font-size: 1.2rem;
  }

  .footer .news h3 {
    width: 82%;
    font-size: 1.7rem;
  }

  .footer .news .agroupFormAndButton form input {
    width: 53%;
  }

  .footer .news .agroupFormAndButton form button {
    font-size: 0.9rem;
    width: 22%;
  }

  .footer .navMapLinks .company {
    margin-left: 15%;
  }

  .footer .navMapLinks .company p,
  .footer .navMapLinks .map p,
  .footer .navMapLinks .links p {
    font-size: 1.1rem;
  }

  .footer .navMapLinks .company a,
  .footer .navMapLinks .map a,
  .footer .navMapLinks .links a {
    font-size: 1.1rem;
  }
}

@media (max-width: 600px) {
  .main1 {
    margin-bottom: 8%;
  }
  .header h1 {
    width: 18%;
    font-size: 0.9rem;
  }

  .header .nav {
    width: 49%;
  }

  .header .nav a {
    font-size: 1rem;
  }

  .header button .agroupImgAndTextHeader img {
    display: none;
  }

  .main1 .aboutCompany .aboutCompanyText {
    font-size: 1rem;
  }

  .main1 .imagesArtistCompany .selectionedArtists .moreTen,
  .main1 .imagesArtistCompany .selectionedArtists p {
    font-size: 1rem;
  }

  .main1 .imagesArtistCompany {
    width: 90%;
  }

  .logoMain {
    display: none;
  }

  .aboutCompany {
    width: 40%;
    margin-right: 7%;
  }

  .discoverMore {
    width: 50%;
  }

  .discoverMore h1 {
    font-size: 1.7rem;
    line-height: 2.6rem;
  }

  .gallery .gallery1,
  .gallery .gallery2 {
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
  }

  .gallery .gallery1 img,
  .gallery .gallery2 img {
    width: 40%;
    margin-left: 0;
    margin-bottom: 1%;
  }

  .values {
    width: 38%;
  }

  .values h3 {
    font-size: 2.225rem;
  }

  .values p {
    font-size: 1rem;
  }

  .moreInformations {
    font-size: 0.9rem;
  }

  .imageSeelings img {
    height: 79.6%;
  }

  .main3 h2 {
    font-size: 2.5rem;
    width: 92%;
  }

  .astronaut .agroupAstronautTextAndImage {
    width: 100%;
    display: block;
  }

  .astronaut .agroupAstronautTextAndImage p {
    font-size: 1.5rem;
  }

  .astronaut .agroupNameAstronauAndValue {
    width: 100%;
  }

  .astronaut .agroupNameAstronauAndValue p:nth-of-type(1) {
    margin-right: 3%;
    font-size: 1.1rem;
  }

  .astronaut .agroupNameAstronauAndValue p:nth-of-type(2) {
    font-size: 1.1rem;
  }

  .astronauts .centerLine {
    height: 93%;
  }

  .main4 h2 {
    font-size: 2.5rem;
  }

  .artist {
    width: 45%;
    height: 7rem;
  }

  .imageArtist {
    width: 23%;
  }

  .photographs p:nth-of-type(1) {
    font-size: 1.1rem;
    margin-bottom: 10%;
  }

  .photographs p:nth-of-type(2) {
    font-size: 1.1rem;
  }

  .footer .rocketNFTs .agroupRocketNFTs h3 {
    font-size: 2.3rem;
  }

  .footer .rocketNFTs .agroupRocketNFTs .borderFooter {
    width: 13%;
  }

  .footer .news h3 {
    width: 82%;
    font-size: 1.5rem;
  }

  .footer .news .agroupFormAndButton form input {
    width: 53%;
  }

  .footer .news .agroupFormAndButton form button {
    font-size: 0.8rem;
    width: 22%;
  }

  .footer .navMapLinks .company {
    margin-left: 8%;
    margin-right: 18%;
  }

  .footer .navMapLinks .map {
    width: 19%;
  }

  .footer .navMapLinks .company p,
  .footer .navMapLinks .map p,
  .footer .navMapLinks .links p {
    font-size: 1.1rem;
  }

  .footer .navMapLinks .company a,
  .footer .navMapLinks .map a,
  .footer .navMapLinks .links a {
    font-size: 1.1rem;
  }
}

@media (max-width: 500px) {
  .main1 {
    margin-bottom: 8%;
  }
  .header h1 {
    width: 18%;
    font-size: 0.7rem;
  }

  .header .nav {
    width: 49%;
  }

  .header .nav a {
    font-size: 0.9rem;
  }

  .header button .agroupImgAndTextHeader img {
    display: none;
  }

  .header button .agroupImgAndTextHeader p {
    font-size: 0.9rem;
  }

  .main1 .aboutCompany .aboutCompanyText {
    font-size: 1rem;
  }

  .main1 .imagesArtistCompany .selectionedArtists .moreTen,
  .main1 .imagesArtistCompany .selectionedArtists p {
    font-size: 1rem;
  }

  .main1 .imagesArtistCompany {
    width: 90%;
    display: none;
  }

  .logoMain {
    display: none;
  }

  .aboutCompany {
    width: 40%;
    margin-right: 7%;
  }

  .discoverMore {
    width: 50%;
  }

  .discoverMore h1 {
    font-size: 1.7rem;
    line-height: 2.6rem;
  }

  .gallery .gallery1,
  .gallery .gallery2 {
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
  }

  .gallery .gallery1 img,
  .gallery .gallery2 img {
    width: 40%;
    margin-left: 0;
    margin-bottom: 1%;
  }

  .values {
    width: 80%;
    margin: 34% 27% 32.4%;
  }

  .values h3 {
    font-size: 1.8rem;
  }

  .values p {
    font-size: 1rem;
  }

  .moreInformations {
    font-size: 0.8rem;
  }

  .moreInformations > a {
    font-size: 0.9rem;
  }

  .imageSeelings img {
    height: 90.6%;
  }

  .main3 h2 {
    font-size: 2rem;
    width: 92%;
  }

  .astronauts {
    justify-content: space-around;
  }

  .astronaut .agroupAstronautTextAndImage {
    width: 100%;
    display: flex;
  }

  .astronaut .agroupAstronautTextAndImage p {
    font-size: 1.1rem;
  }

  .astronaut .agroupNameAstronauAndValue {
    width: 100%;
  }

  .astronaut .agroupNameAstronauAndValue p:nth-of-type(1) {
    margin-right: 3%;
    font-size: 1.1rem;
  }

  .astronaut .agroupNameAstronauAndValue p:nth-of-type(2) {
    font-size: 1.1rem;
  }

  .astronauts .centerLine {
    height: 93%;
  }

  .main4 h2 {
    font-size: 2.5rem;
  }

  .artist {
    width: 45%;
    height: 7rem;
  }

  .imageArtist {
    width: 23%;
  }

  .photographs p:nth-of-type(1) {
    font-size: 1rem;
    margin-bottom: 10%;
  }

  .photographs p:nth-of-type(2) {
    font-size: 1rem;
  }

  .agroupSeeAllArtist a p {
    margin-right: 3%;
  }

  .footer .rocketNFTs .agroupRocketNFTs h3 {
    font-size: 2rem;
  }

  .footer .rocketNFTs .agroupRocketNFTs .borderFooter {
    width: 13%;
  }

  .footer .formAndNav {
    flex-direction: column;
  }

  .footer .news {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .footer .news h3 {
    width: 82%;
    font-size: 1.5rem;
    margin: 7% 6% 4% 1%;
  }

  .footer .news .agroupFormAndButton form input {
    width: 53%;
  }

  .footer .news .agroupFormAndButton form button {
    font-size: 0.8rem;
    width: 22%;
  }

  .footer .navMapLinks {
    width: 100vw;
    padding-bottom: 5%;
  }

  .footer .navMapLinks .company {
    margin-left: 8%;
    margin-right: 18%;
  }

  .footer .navMapLinks .map {
    width: 19%;
  }

  .footer .navMapLinks .company p,
  .footer .navMapLinks .map p,
  .footer .navMapLinks .links p {
    font-size: 1.1rem;
    margin-bottom: 10%;
  }

  .footer .navMapLinks .company a,
  .footer .navMapLinks .map a,
  .footer .navMapLinks .links a {
    font-size: 1.1rem;
    margin-bottom: 4%;
  }

  .socialMediasContainer {
    padding: 4%;
  }
}

@media (max-width: 452px) {
  .main1 {
    margin-bottom: 8%;
  }
  .header h1 {
    width: 13%;
    font-size: 0.5rem;
    display: none;
  }

  .header .nav {
    width: 69%;
  }

  .header .nav a {
    font-size: 1.1rem;
  }

  .header button .agroupImgAndTextHeader img {
    display: none;
  }

  .header button .agroupImgAndTextHeader p {
    font-size: 0.8rem;
  }

  .main1 .aboutCompany .aboutCompanyText {
    font-size: 1rem;
  }

  .main1 .imagesArtistCompany .selectionedArtists .moreTen,
  .main1 .imagesArtistCompany .selectionedArtists p {
    font-size: 1rem;
  }

  .main1 .imagesArtistCompany {
    width: 90%;
    display: none;
  }

  .logoMain {
    display: none;
  }

  .aboutCompany {
    width: 40%;
    margin-right: 7%;
  }

  .discoverMore {
    width: 50%;
  }

  .discoverMore h1 {
    font-size: 1.4rem;
    line-height: 2.6rem;
  }

  .gallery .gallery1,
  .gallery .gallery2 {
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
  }

  .gallery2 {
    display: none;
  }

  .gallery .gallery1 img,
  .gallery .gallery2 img {
    width: 49%;
    margin-left: 0;
    margin-bottom: 1%;
  }

  .values {
    width: 80%;
    margin: 34% 27% 32.4%;
  }

  .values h3 {
    font-size: 1.8rem;
  }

  .values p {
    font-size: 1rem;
  }

  .moreInformations {
    font-size: 0.8rem;
  }

  .moreInformations > a {
    font-size: 0.9rem;
  }

  .imageSeelings img {
    height: 90.7%;
  }

  .main3 h2 {
    font-size: 1.8rem;
    width: 92%;
  }

  .astronauts {
    justify-content: space-around;
  }

  .astronaut .agroupAstronautTextAndImage {
    width: 100%;
    display: flex;
  }

  .astronaut .agroupAstronautTextAndImage p {
    font-size: 1.1rem;
  }

  .astronaut .agroupNameAstronauAndValue {
    width: 100%;
  }

  .astronaut .agroupNameAstronauAndValue p:nth-of-type(1) {
    margin-right: 3%;
    font-size: 1.1rem;
  }

  .astronaut .agroupNameAstronauAndValue p:nth-of-type(2) {
    font-size: 1.1rem;
  }

  .astronauts .centerLine {
    height: 100%;
  }

  .main4 h2 {
    font-size: 2.5rem;
  }

  .bestArtists {
    justify-content: center;
  }

  .artist {
    width: 100%;
    height: 8rem;
  }

  .imageArtist {
    width: 23%;
  }

  .photographs p:nth-of-type(1) {
    font-size: 1.8rem;
    margin-bottom: 10%;
  }

  .photographs p:nth-of-type(2) {
    font-size: 1.6rem;
  }

  .agroupSeeAllArtist a p {
    margin-right: 3%;
  }

  .footer .rocketNFTs .agroupRocketNFTs h3 {
    font-size: 2rem;
  }

  .footer .rocketNFTs .agroupRocketNFTs .borderFooter {
    width: 13%;
  }

  .footer .formAndNav {
    flex-direction: column;
  }

  .footer .news {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .footer .news h3 {
    width: 82%;
    font-size: 1.5rem;
    margin: 7% 6% 4% 1%;
  }

  .footer .news .agroupFormAndButton form input {
    width: 53%;
  }

  .footer .news .agroupFormAndButton form button {
    font-size: 0.8rem;
    width: 22%;
  }

  .footer .navMapLinks {
    width: 100vw;
    padding-bottom: 5%;
  }

  .footer .navMapLinks .company {
    margin-left: 8%;
    margin-right: 18%;
  }

  .footer .navMapLinks .map {
    width: 19%;
  }

  .footer .navMapLinks .company p,
  .footer .navMapLinks .map p,
  .footer .navMapLinks .links p {
    font-size: 1.1rem;
    margin-bottom: 10%;
  }

  .footer .navMapLinks .company a,
  .footer .navMapLinks .map a,
  .footer .navMapLinks .links a {
    font-size: 1.1rem;
    margin-bottom: 4%;
  }

  .socialMediasContainer {
    padding: 4%;
  }
}

@media (max-width: 391px) {
  .main1 {
    margin-bottom: 8%;
  }
  .header h1 {
    width: 13%;
    font-size: 0.5rem;
    display: none;
  }

  .header .nav {
    width: 69%;
  }

  .header .nav a {
    font-size: 0.9rem;
  }

  .header button .agroupImgAndTextHeader img {
    display: none;
  }

  .header button .agroupImgAndTextHeader p {
    font-size: 0.8rem;
  }

  .main1 .aboutCompany .aboutCompanyText {
    font-size: 1.1rem;
    width: 100%;
    margin-bottom: 8%;
  }

  .main1 .imagesArtistCompany .selectionedArtists .moreTen,
  .main1 .imagesArtistCompany .selectionedArtists p {
    font-size: 1rem;
  }

  .main1 .imagesArtistCompany {
    width: 90%;
    display: none;
  }

  .logoMain {
    display: none;
  }

  .aboutCompany {
    width: 100%;
    margin-right: 0%;
  }

  .discoverMore {
    width: 100%;
  }

  .discoverMore h1 {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .gallery .gallery1,
  .gallery .gallery2 {
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
  }

  .gallery2 {
    display: none;
  }

  .gallery .gallery1 img,
  .gallery .gallery2 img {
    width: 49%;
    margin-left: 0;
    margin-bottom: 1%;
  }

  .seelingsQuantity {
    width: 34%;
  }

  .values {
    width: 80%;
    margin: 34% 27% 32.4%;
  }

  .values h3 {
    font-size: 1.8rem;
  }

  .values p {
    font-size: 1rem;
  }

  .agroupMoreInformations {
    width: 65%;
  }

  .moreInformations {
    font-size: 1.3rem;
    width: 100%;
  }

  .moreInformations:nth-of-type(2) {
    display: none;
  }

  .moreInformations > a {
    font-size: 1.4rem;
  }

  .imageSeelings img {
    height: 90.7%;
    display: none;
  }

  .main3 h2 {
    font-size: 1.6rem;
    width: 92%;
  }

  .astronauts {
    justify-content: center;
  }

  .astronaut {
    width: 90%;
    margin-bottom: 10%;
  }

  .astronaut .agroupAstronautTextAndImage {
    width: 100%;
    display: flex;
  }

  .astronaut .agroupAstronautTextAndImage p {
    font-size: 1.1rem;
  }

  .astronaut .agroupNameAstronauAndValue {
    width: 100%;
  }

  .astronaut .agroupNameAstronauAndValue p:nth-of-type(1) {
    margin-right: 3%;
    font-size: 1.1rem;
  }

  .astronaut .agroupNameAstronauAndValue p:nth-of-type(2) {
    font-size: 1.1rem;
  }

  .astronauts .centerLine {
    height: 100%;
    display: none;
  }

  .main4 h2 {
    font-size: 2.5rem;
    text-align: center;
  }

  .bestArtists {
    justify-content: center;
  }

  .artist {
    width: 100%;
    height: 8rem;
  }

  .imageArtist {
    width: 23%;
  }

  .photographs p:nth-of-type(1) {
    font-size: 1.8rem;
    margin-bottom: 10%;
  }

  .photographs p:nth-of-type(2) {
    font-size: 1.6rem;
  }

  .agroupSeeAllArtist a p {
    margin-right: 3%;
  }

  .footer .rocketNFTs .agroupRocketNFTs h3 {
    font-size: 2rem;
  }

  .footer .rocketNFTs .agroupRocketNFTs .borderFooter {
    width: 13%;
  }

  .footer .formAndNav {
    flex-direction: column;
  }

  .footer .news {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .footer .news h3 {
    width: 82%;
    font-size: 1.5rem;
    margin: 7% 6% 4% 1%;
  }

  .footer .news .agroupFormAndButton form input {
    width: 53%;
  }

  .footer .news .agroupFormAndButton form button {
    font-size: 0.8rem;
    width: 22%;
  }

  .agroupSiteAndSocialMedias {
    justify-content: center;
  }

  .agroupSiteAndSocialMedias p {
    margin-bottom: 10%;
  }

  .socialMedias {
    width: 81%;
  }

  .footer .navMapLinks {
    width: 100vw;
    padding-bottom: 5%;
  }

  .footer .navMapLinks .company {
    margin-left: 8%;
    margin-right: 18%;
  }

  .footer .navMapLinks .map {
    width: 19%;
  }

  .footer .navMapLinks .company p,
  .footer .navMapLinks .map p,
  .footer .navMapLinks .links p {
    font-size: 1.1rem;
    margin-bottom: 10%;
  }

  .footer .navMapLinks .company a,
  .footer .navMapLinks .map a,
  .footer .navMapLinks .links a {
    font-size: 1.1rem;
    margin-bottom: 4%;
  }

  .socialMediasContainer {
    padding: 4%;
  }

  .credits {
    margin: 10% auto;
  }
}

@media (max-width: 320px) {
  .main1 {
    margin-bottom: 8%;
  }
  .header h1 {
    width: 13%;
    font-size: 0.5rem;
    display: none;
  }

  .header .nav {
    width: 73%;
  }

  .header .nav a {
    font-size: 0.9rem;
  }

  .header button .agroupImgAndTextHeader img {
    display: none;
  }

  .header button {
    width: 23%;
  }

  .header button .agroupImgAndTextHeader p {
    font-size: 0.7rem;
  }

  .main1 .aboutCompany .aboutCompanyText {
    font-size: 1.1rem;
    width: 100%;
    margin-bottom: 8%;
  }

  .main1 .imagesArtistCompany .selectionedArtists .moreTen,
  .main1 .imagesArtistCompany .selectionedArtists p {
    font-size: 1rem;
  }

  .main1 .imagesArtistCompany {
    width: 90%;
    display: none;
  }

  .logoMain {
    display: none;
  }

  .aboutCompany {
    width: 100%;
    margin-right: 0%;
  }

  .discoverMore {
    width: 100%;
  }

  .discoverMore h1 {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .gallery .gallery1,
  .gallery .gallery2 {
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
  }

  .gallery2 {
    display: none;
  }

  .gallery .gallery1 img,
  .gallery .gallery2 img {
    width: 49%;
    margin-left: 0;
    margin-bottom: 1%;
  }

  .seelingsQuantity {
    width: 34%;
  }

  .values {
    width: 80%;
    margin: 34% 27% 32.4%;
  }

  .values h3 {
    font-size: 1.8rem;
  }

  .values p {
    font-size: 1rem;
  }

  .agroupMoreInformations {
    width: 65%;
  }

  .moreInformations {
    font-size: 1.3rem;
    width: 100%;
  }

  .moreInformations:nth-of-type(2) {
    display: none;
  }

  .moreInformations > a {
    font-size: 1.4rem;
  }

  .imageSeelings img {
    height: 90.7%;
    display: none;
  }

  .main3 h2 {
    font-size: 2rem;
    width: 92%;
    line-height: 3rem;
  }

  .astronauts {
    justify-content: center;
  }

  .astronaut {
    width: 90%;
    margin-bottom: 10%;
  }

  .astronaut .agroupAstronautTextAndImage {
    width: 100%;
    display: flex;
  }

  .astronaut .agroupAstronautTextAndImage p {
    font-size: 1.6rem;
  }

  .astronaut .agroupNameAstronauAndValue {
    width: 100%;
  }

  .astronaut .agroupNameAstronauAndValue p:nth-of-type(1) {
    margin-right: 3%;
    font-size: 1.1rem;
  }

  .astronaut .agroupNameAstronauAndValue p:nth-of-type(2) {
    font-size: 1.1rem;
  }

  .astronauts .centerLine {
    height: 100%;
    display: none;
  }

  .main4 h2 {
    font-size: 2.5rem;
    text-align: center;
  }

  .bestArtists {
    justify-content: center;
  }

  .artist {
    width: 100%;
    height: 8rem;
  }

  .imageArtist {
    width: 23%;
  }

  .photographs p:nth-of-type(1) {
    font-size: 1.4rem;
    margin-bottom: 10%;
  }

  .photographs p:nth-of-type(2) {
    font-size: 1.4rem;
  }

  .agroupSeeAllArtist a p {
    margin-right: 6%;
  }

  .footer .rocketNFTs .agroupRocketNFTs h3 {
    font-size: 1.7rem;
  }

  .footer .rocketNFTs .agroupRocketNFTs .borderFooter {
    width: 13%;
  }

  .footer .formAndNav {
    flex-direction: column;
  }

  .footer .news {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .footer .news h3 {
    width: 82%;
    font-size: 1.5rem;
    margin: 7% 6% 4% 1%;
  }

  .footer .news .agroupFormAndButton form input {
    width: 53%;
  }

  .footer .news .agroupFormAndButton form button {
    font-size: 0.8rem;
    width: 22%;
  }

  .agroupSiteAndSocialMedias {
    justify-content: center;
  }

  .agroupSiteAndSocialMedias p {
    margin-bottom: 10%;
  }

  .socialMedias {
    width: 81%;
  }

  .footer .navMapLinks {
    width: 100vw;
    padding-bottom: 5%;
  }

  .footer .navMapLinks .company {
    margin-left: 8%;
    margin-right: 18%;
  }

  .footer .navMapLinks .map {
    width: 19%;
  }

  .footer .navMapLinks .company p,
  .footer .navMapLinks .map p,
  .footer .navMapLinks .links p {
    font-size: 1.1rem;
    margin-bottom: 10%;
  }

  .footer .navMapLinks .company a,
  .footer .navMapLinks .map a,
  .footer .navMapLinks .links a {
    font-size: 1.1rem;
    margin-bottom: 4%;
  }

  .socialMediasContainer {
    padding: 4%;
  }

  .credits {
    margin: 10% auto;
  }

  .credits h4 {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 0.95rem;
    line-height: 1.5rem;
    color: #ffffff;
    text-align: center;
  }
}
